.TodoTemplate {
  width: 600px;
  margin-left: 60px;
  margin-right: auto;
  overflow: hidden;
  .app-title {
    background: white;
    color: black;
    height: 4rem;
    font-size: 1.5rem;
    display: flex;
    padding-left: 1rem;
    align-items: center;
    justify-content: left;
    font-family: 'EliceDigitalBaeum_Bold';
  }
  .content {
    background: white;
  }
}
