.TodoInsert {
  display: flex;
  background: #bfc3c7;
  margin-left: 1rem;
  margin-right: 1rem;
  border-radius: 4px;
  input {
    background: none;
    outline: none;
    border: none;
    padding: 0.25rem;
    font-size: 1rem;
    font-family: 'EliceDigitalBaeum_Bold';
    line-height: 1.5;
    color: white;
    &::placeholder {
      padding-left: 4px;
      color: #dee2e6;
    }
    flex: 1;
  }
  button {
    background: none;
    outline: none;
    border: none;
    border-radius: 0 4px 4px 0;
    background: #868e96;
    color: white;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: 0.1s background ease-in;
    &:hover {
      background: #bfc3c7;
    }
  }
}
